<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="QuanLyChamSocThuCung" connectionString="Server=YOUR_SERVER_NAME;Database=QuanLyChamSocThuCung;User Id=sa;Password=123;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>